body{
    background: #4D4D4D;
    margin: auto;
    font-family: sans-serif; 
    color: #CCCCCC;
    
}

h1{
    font-size: 40pt; 
    color: #CCCCCC;
    padding: 0;
    margin: 5px;
}

h2{
    color: #FFFFFF;
    font-size: 15pt;
    padding: 0;
}

a{
    color:#FFFFFF;
}

.hover{
    color:#DDDDDD;
}

.input{
    border: 0;
}

#header{
    margin: 5px;
    font-weight: bold;
    width: 40%;
}

#navigation{
    position: relative;
    float: right;
    height: 15px;
    margin: auto;
}

#map{
    width: 50%;
    height: 450px;
    border: 1px solid #FFF;
    margin: auto;
    position: relative;
    float: left;
}

#attraction_box{
    width: 23%;
    height: 400px;
    position: relative;
    float: left;
    padding-left: 10px;

}

#attractions{
    width: 100%;
    height: 80%;
    overflow: auto;   
}

#trip_box{
    width: 23%;
    height: 440px;
    position: relative;
    float: left;
    margin-left: 5px;
    padding: 5px;
    background: #27272D;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color: #4D4D4D;

}

#trip{
    width: 100%;
    height: 80%;
    overflow: auto;

}

#save_location{
    position:relative;
    float: right;
}

.attraction_name{
    height: 50%;
    width: 70%;
    text-align: center;
    margin: auto;
    font-weight: bold;
    position: relative;
    float: left;
    color: #4D4D4D;
}

.attraction_icon_home{
    height: 100%;
    width: 20%;
    position: relative;
    float: left;
}

.attraction_trip{
    width: 95%;
    height: 40px;
    border: 1px solid #fff;
    padding: 3px;
    margin: 3px;
    overflow: hidden;
    -moz-box-shadow:inset 0 1px 0 0 #ffffff;
    -webkit-box-shadow:inset 0 1px 0 0 #ffffff;
    box-shadow:inset 0 1px 0 0 #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
	border-radius:6px;
}

.attraction_suggested{
    width: 95%;
    height: 40px;
    border: 1px solid #fff;
    padding: 3px;
    margin: 3px;
    overflow: hidden;
    -moz-box-shadow:inset 0 1px 0 0 #ffffff;
    -webkit-box-shadow:inset 0 1px 0 0 #ffffff;
    box-shadow:inset 0 1px 0 0 #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
	border-radius:6px;
}

#place_search{
    width: 50%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

#login_box{
    position: relative;
    margin: 30px;
    width: 400px;
}

#login_button{
    position: relative;
    width: 400px;
    margin: auto;
}


.user{
    -moz-box-shadow:inset 0 1px 0 0 #ffffff;
    -webkit-box-shadow:inset 0 1px 0 0 #ffffff;
    box-shadow:inset 0 1px 0 0 #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0 #ffffff;
}

.user:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.user:active{
    position:relative;
    top:1px;
}